body {
    background-color: beige;
    margin: 0px;
}
#Welcome {
    position: absolute;
    top: 15%;
    font-size:xx-large;
    left: 70px;
    font-weight: bold;
}
#bio {
    font-size: x-large;
    position: absolute;
    top:200px;
    left: 70px;
    margin-right: 800px;
}
.me {
    position:absolute;
    top: 90px;
    right: 0px;
    width: 50%;
    height: 50%;
    border-radius: 50%;
}
.flex {
    display: flex;
    justify-content: space-between;
    padding-right: 100px;
    padding-left: 100px;
    margin-top: 630px;
}
.flex img{
    opacity: 1;
    width: 200px;
}
#brawl > img {
        opacity: 0.03;
        position: absolute;
        width: 100vw;
        aspect-ratio: 1/1;
        top: 0;
        left: 0;
        z-index: -1;
}
.navigationbar {
    position: relative;
    /*bottom: 1020px;*/
}
.navigationbar ul {
    list-style-type: none;
    background-color: antiquewhite;
    overflow: hidden;
}
.navigationbar a {
    color:black;
    text-decoration: none;
    display: block;
    text-align: center;
    display: block;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    font-weight: bold;
    
}
.navigationbar a:hover {
    background-color:burlywood;
}
.navigationbar li {
    float: left;
}
.socials {
    display: flex;
    justify-content: center;
    align-items: center;
}
.socials ul {
    list-style-type: none;
    background-color:darksalmon;
    overflow: hidden;
    padding-right: 39px;
}
.socials a {
    color:black;
    text-decoration: none;
    display: block;
    text-align: center;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    font-weight: bold;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.socials a:hover {
    background-color:burlywood;
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.socials li {
    float: left;
}
#mysocials {
    font-size: x-large;
    font-weight: bold;
    position: absolute;
    top: 114%;
    left: 43%;
}
#planet img{
    width: 50%;
    opacity: 0.2;
    position: absolute;
    top: 10%;
    left: 1%;
}