body {
    background-color: beige;
    
}
#Welcome {
    position: absolute;
    top: 150px;
    font-size:xx-large;
    left: 70px;
    font-weight: bold;
}
#bio {
    font-size: x-large;
    position: absolute;
    top:200px;
    left: 70px;
    margin-right: 800px;
}
.me {
    position:absolute;
    top: 150px;
    right: 0px;
    width: 50%;
    height: 50%;
    
}
.flex {
    display: flex;
    justify-content: space-between;
    padding-right: 100px;
    padding-left: 100px;
    
}
.flex img{
    opacity: 0.5;
    width: 150px;
}